* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    height: 100vh;
    
    background: radial-gradient(circle at top, #535558, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Calculator Body */
.calculator {
    
    width: 100%;
    max-width: 420px;
    height: 72vh;         
    border-radius: 0;      
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
}


#display {
    width: 100%;
    height: 70px;
    background: #000;
    color: #00ffcc;
    font-size: 32px;
    text-align: right;
    padding: 15px;
    border-radius: 12px;
    border: none;
    margin-bottom: 20px;
    box-shadow: inset 0 0 10px rgba(0, 255, 204, 0.3);
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 72px;
    justify-content: center;
    margin-top: 20px;
    /*align-items: center;*/
   

    gap: 12px;
}


button {
    height: 100%;
    width: 100%;
    background: #000;
    color: #fff;
    font-size: 22px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    box-shadow: 0 6px 0 #111;
    transition: all 0.15s ease;
}

/* Press Effect */
button:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #111;
}


button:nth-child(4n),
.equal {
    background: #ff9f1a;
    color: #000;
    box-shadow: 0 6px 0 #cc7a00;
}


.equal {
    grid-row: span 2;
    font-size: 26px;
}


.clear {
    background: #ff3f34;
    color: #fff;
    box-shadow: 0 6px 0 #b71c1c;
}


.zero {
    grid-column: span 2;
}


button:hover {
    filter: brightness(1.2);
}


@media (max-width: 600px) {
    button {
        grid-auto-rows: 80px;
        height: 65px;
        font-size: 26px;
        
    }

    #display {
        height: 80px;
        font-size: 34px;
    }
}
